<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> CrissCross </title>
    <link rel="stylesheet" type="text/css" href="styles/profile-style.css">
  </head>
  <body class="profile-body">
    <div class="profile-container">
      <div ng-controller="registerLogInLogOut">
        <!-- Toolbar --> 
        <img class="profile-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/A_wallpaper_pattern_with_squares.svg/2000px-A_wallpaper_pattern_with_squares.svg.png"/>

        <md-toolbar layout="row" class="toolbar md-whiteframe-z2 md-primary md-hue-3">
          <span>
            <md-button id="btnLogout" type="submit" ng-click="goHome()" ng-show="loggedIn">Back</md-button>
          </span>
        </md-toolbar>

        <div class="password-container">
          <p>Manage Password</p>
          <span>Current Password</span>
          <input id="current-password-input" type="password" ng-model="currentPassword" placeholder="Current password">
          <br>
          <span>New Password</span>
          <input id="new-password-input" type="password" ng-model="newPassword" placeholder="Enter new password">
          <div class="submit-container">
            <md-button id="submit-password" type="submit" ng-click="changePassword()">Submit</md-button>
          </div>
        </div>
      </div>
      

    </div>
  </body>
</html>